<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]>      <html class="no-js"> <!--<![endif]-->
<html>

<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <title>OpenShift Test</title>
  <meta name="description" content="">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="bootstrap-5.0.0-beta1-dist/css/bootstrap.css">
  <link rel="stylesheet" href="bootstrap-5.0.0-beta1-dist/css/Main.css" </head>

<body>
  <nav class="navbar navbar-expand-lg navbar navbar-dark bg-dark">
    <div class="container-fluid">
      <a class="navbar-brand" href="#">Openshift</a>
      <!--
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item">
          <a class="nav-link active" aria-current="page" href="#">Home</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">Link</a>
        </li>
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
            Dropdown
          </a>
          <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
            <li><a class="dropdown-item" href="#">Action</a></li>
            <li><a class="dropdown-item" href="#">Another action</a></li>
            <li><hr class="dropdown-divider"></li>
            <li><a class="dropdown-item" href="#">Something else here</a></li>
          </ul>
        </li>
        <li class="nav-item">
          <a class="nav-link disabled" href="#" tabindex="-1" aria-disabled="true">Disabled</a>
        </li>
      </ul>
-->
      <form class="d-flex">
        <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
        <button class="btn btn-outline-success" type="submit">Search</button>
      </form>
    </div>
    </div>
  </nav>
  <!--[if lt IE 7]>
            <p class="browsehappy">You are using an <strong>outdated</strong> browser. Please <a href="#">upgrade your browser</a> to improve your experience.</p>
        <![endif]-->

  <div class="container">
    <img src="images/OpenShift_OVP.png" class="rounded mx-auto d-block" width="750" height="500">
    <div class="row">

      <div class="col text-center">

        <p>OpenShift is a family of containerization software products developed by Red Hat. Its flagship product is the
          OpenShift Container Platform — an on-premises platform as a service built around Docker containers
          orchestrated and managed by Kubernetes on a foundation of Red Hat Enterprise Linux.
          The family's other products provide this platform through different environments: OKD serves as the
          community-driven upstream (akin to the way that Fedora is upstream of Red Hat Enterprise Linux), OpenShift
          Online is the platform offered as software as a service, and Openshift Dedicated is the platform offered as a
          managed service.</p>
        <p>
          The OpenShift Console has developer and administrator oriented views. Administrator views allow one to monitor
          container resources and container health, manage users, work with operators, etc.
          Developer views are oriented around working with application resources within a namespace. OpenShift also
          provides a CLI that supports a superset of the actions that the Kubernetes CLI provides.</p>
        <br>
        <a href="https://www.openshift.com/" class="btn btn-danger">Press to see the future of computing</a>
        <br>
        <br>
      </div>
    </div>
  </div>
  </div>
  </div>
  <script src="" async defer></script>
</body>

</html>